
html{
    background-image: url(Menu1.jpg);
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgb(250, 200, 143);
    padding: 50px;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
}
#food_01 {
    width: 400px;
}
#food_02 {
    width: 400px;
}
#spanID {
    font-size: 18px;
    margin: 50px;
}
.divClass {
    text-align: center;
    color: aliceblue;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
